@import "mixin";
@import "var";
@import "placeholder";

.name_form {
  position: relative;
  div {
    .name_input {
      height: 1.8rem;
      border-radius: 12px;
      border: 2px solid map-get($colors, light-gray);
      margin-right: 0.5rem;
      padding: 0.2rem;
      &:focus {
        outline: 2px solid darken(map-get($colors, light-gray), 30%);
        outline-offset: -2px;
      }
    }
    .name_button__check {
      @extend %button--white;
    }
    .name_button__reset {
      @extend %button--orange;
    }
    &::before {
      z-index: 3;
      position: absolute;
      bottom: -0.6rem;
      font-size: 0.5rem;
      line-height: 0.5rem;
      color: red;
      content: "* 문자열과 특수문자는 입력 할 수 없습니다.";
    }
  }
}
