@import 'mixin';
@import 'var';
@import 'placeholder';

%button-size {
  width: 9rem;
  height: 3.5rem;
  font-size: 1.5rem;

  @include min-width($mixin-large-width) {
    width: 11rem;
  }

  @include min-width($mixin-xl-width) {
    width: 12rem;
  }
}

.input-file {
  grid-area: bottom-left;
  @include flex-center();
  height: 100%;

  form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .reset {
      button {
        @extend %button--orange;
        @extend %button-size;
      }
    }

    .crop {
      button {
        @extend %button--green;
        @extend %button-size;
      }
    }

    .upload {
      label {
        @extend %button--white;
        @extend %button-size;
        display: block;
        padding: auto;
        line-height: 2.25rem;
      }
    }

    & > input {
      display: none;
    }
  }
}
