@import 'mixin';
@import 'var';
@import 'placeholder';

.upload {
  @include page-base();

  .content {
    display: grid;
    grid-template-columns: [col-start] 5fr [col-end col-start] 5fr [col-end];
    grid-template-rows: [row-start] 8fr [row-end row-start] 2fr [row-end];
    grid-template-areas:
      'top-left top-right'
      'bottom-left bottom-right';
    height: 100%;

    .submit {
      grid-area: bottom-right;
      justify-self: center;
      align-self: center;

      button {
        @extend %button--blue;
        width: 12rem;
        height: 3.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
