.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "form"
    "preview"
    "button";

  .form {
    grid-row: form;
    background-color: aqua;
    label {
      display: none;
    }
  }

  .img_container {
    grid-row: preview;
    text-align: center;
    height: 300px;
    img {
      height: 100%;
    }
  }

  .button {
    grid-row: button;
  }
}
