@import "mixin";
@import "var";
@import "placeholder";

.container {
  overflow: hidden;
  position: relative;
  width: 100%;

  .icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: lightgrey;
  }

  input {
    width: calc(100% - 4rem);
    height: 2rem;
    border-radius: 12px;
    border: 5px solid lightgray;
    padding: 0.4rem 0.5rem 0.2rem 2rem;
    @include transition(background-color, 0.3s, ease);

    &:focus,
    &:active {
      outline: 5px solid map-get($colors, orange);
      outline-offset: -5px;
    }

    &:disabled {
      background-color: lightgray;
    }
  }
}
