%reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: "Noto Sans KR", sans-serif;
}

%scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: map-get($colors, light-gray);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken(map-get($colors, light-gray), 30%);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-button {
    display: none;
    visibility: hidden;
  }
}

%button {
  box-sizing: border-box;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.2s;
  border: none;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border: 1.5px solid rgba(0, 0, 0, 0.21);
  border-bottom: 3px solid rgba(0, 0, 0, 0.21);
  overflow: hidden;
  text-align: center;
  width: 6.5rem;
  text-transform: uppercase;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    scale: 1.02;
  }
  &:disabled {
    opacity: 0.9;
  }
}

%button__white {
  @include button_style((map-get($colors, white)), #000000);
}

%button__blue {
  @include button_style(map-get($colors, blue));
}

%button__green {
  @include button_style(map-get($colors, green));
}

%button__orange {
  @include button_style(map-get($colors, orange));
}

%button__red {
  @include button_style(map-get($colors, red));
}

%game-start__button {
  background-color: map-get($colors, orange);
  border: none;
  color: #ffffff;
  cursor: pointer;

  font-size: 5rem;
  line-height: 1.2em;
  margin: 15px 40px;
  padding: 12px 40px 10px;
  position: relative;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;

  &:before,
  &:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }

  &:after {
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-color: map-get($colors, red);
    bottom: -10px;
    left: -10px;
  }
  &:before {
    border-right-width: 5px;
    border-top-width: 5px;
    border-color: map-get($colors, blue);
    right: -10px;
    top: -10px;
  }
  &:hover {
    background-color: lighten(map-get($colors, orange), 5%);
    &:before {
      height: 100%;
      width: 100%;
    }
    &:after {
      height: 100%;
      width: 100%;
    }
  }
  &:focus-visible {
    outline: 5px solid #b976f0;
    outline-offset: -10px;
  }
}
