@import "mixin";
@import "var";
@import "placeholder";

%plane {
  width: 100%;
  height: 100%;
  @include backface-visibility();
  position: absolute;
  @include flex-center();
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  @include transition(transform, 0.7s, ease);
  position: relative;
  width: 8rem;
  height: 13rem;
  background-color: white;
  border-radius: 20px;
  @include box-shadow(5px, 5px, 10px, rgba(0, 0, 0, 0.3));
  @include prevent-user-select();

  .front {
    @extend %plane;
    overflow: hidden;
    border-radius: 20px;
    @include flex-center();
    @include backface-visibility();
    .front_image_container {
      width: 80%;
      height: 80%;
      img {
        @include backface-visibility();
        width: 100%;
        height: 100%;
        display: block;
        z-index: 5;
        margin: 0 auto;
        border-radius: 5px;
        @include prevent-user-select();
      }
    }
    &.white {
      background-color: map-get($colors, white) !important;
    }

    &.red {
      background-color: map-get($colors, red) !important;
    }

    &.orange {
      background-color: map-get($colors, orange) !important;
    }

    &.blue {
      background-color: map-get($colors, blue) !important;
    }

    &.green {
      background-color: map-get($colors, green) !important;
    }
  }

  .back {
    @extend %plane;
    background-color: white;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 19px;
    cursor: pointer;

    &::before {
      @include backface-visibility();
      position: absolute;
      width: 80%;
      height: 80%;
      content: "";
      border: 3px map-get($colors, light-gray);
      border-style: outset;
      border-radius: 20px;
    }
  }

  &.flip {
    -moz-transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
  }

  &.preview {
    -webkit-transform-origin: center;
    transform-origin: center;
    @include animation(card-preview, 5s, 0s);
  }

  @include min-width($mixin-large-width) {
    width: 10rem;
    height: 16rem;
  }
}
