@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import "mixin";
@import "var";
@import "placeholder";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

html {
  @extend %reset;
}

body {
  padding-top: 2rem;
  margin: auto;
  //아이패드 미니화면에 최적화
  width: 60rem;
  height: 48rem;
  aspect-ratio: 1.25;
  position: relative;
  // border: 3px dashed black;
  background-color: map-get($colors, body);
  @extend %reset;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus-visible {
    outline-color: white;
  }
}
