@import "mixin";
@import "var";
@import "placeholder";

.container {
  position: absolute;
  z-index: map-get($z-indexs, gnb);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  top: 0;
}
