@import "mixin";
@import "var";
@import "placeholder";

%hover-font-color {
  color: map-get($colors, orange);
}

.container {
  z-index: map-get($z-indexs, gnb);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  height: 3rem;
  box-shadow: 0 9px 6px -8px map-get($colors, font);
  background-color: transparent;
  color: map-get($colors, font);
  font-size: 1.5rem;
  transition: scale 0.3s;

  .home {
    margin-left: 3.5rem;
    .home__link {
      margin-top: 0.4rem;
      &:hover,
      &:active {
        scale: 1.02;
      }
    }
  }

  .container__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

    .list {
      &:hover,
      &:active {
        @extend %hover-font-color;
      }
    }

    .sign-in {
      @extend %button__orange;
      width: 10.6rem;
      height: 3.5rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }

    .menu {
      position: relative;

      .menu-button {
        @include flex-center();
        padding: 0.5rem 1.5rem;
        border: 5px solid map-get($colors, orange);
        border-radius: 50px;
        @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));
        transition: scale 0.3s, border-color 0.3s;
        background-color: map-get($colors, body);
        cursor: pointer;

        &:hover,
        &:active {
          scale: 1.02;
          border-color: map-get($colors, font);
        }

        .menu-name {
          margin-right: 1rem;
          font-size: 1.5rem;
          color: azure;
          @include text-line(1, 2rem);
        }

        .menu-photo {
          overflow: hidden;
          width: 3rem;
          height: 3rem;
          border-radius: 50px;
          @include box-shadow(1px, 1px, 5px, rgba(0, 0, 0, 0.3));

          .menu-photo__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &:focus-visible {
          outline: 5px solid #b976f0;
          outline-offset: -10px;
        }
      }

      .menu-toggle {
        z-index: -1;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        transform: translatey(0);
        width: calc(100% - 10px);
        border-radius: 20px;
        background-color: rgba(map-get($colors, body), 80%);
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        text-align: center;
        border: 5px solid rgba(map-get($colors, orange), 80%);
        @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));

        .menu-toggle__container {
          padding: 0.5rem;

          .menu-toggle__top {
            height: 2.2rem;
          }

          .menu-toggle__upload {
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            color: inherit;

            &:hover,
            &:active {
              @extend %hover-font-color;
            }
          }

          .menu-toggle__sign-out {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: inherit;

            &:hover,
            &:active {
              @extend %hover-font-color;
            }
          }

          .menu-toggle__close {
            @include flex-center();
            width: 100%;
            height: 1.2rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: inherit;
            p {
              font-size: 1.5rem;
              margin-right: 0.5rem;
            }
            &:hover,
            &:active {
              @extend %hover-font-color;
            }
          }
        }

        //메뉴토글
        &.show {
          opacity: 1;
          transform: translatey(20%);
        }
        &.render {
          display: block;
        }
      }
    }
  }
}

.poly-fill {
  width: 100%;
  height: $gnb-height;
  background-color: map-get($colors, darkgreen);
}
