@import "mixin";
@import "var";
@import "placeholder";

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "form"
    "preview"
    "button";

  .form {
    grid-area: form;
    background-color: aqua;
    vertical-align: middle;
    @include flex-center();
    .input__button {
      @extend %button__white;
    }
    .form_reset {
      @extend %button__orange;
    }
  }

  .cropper_container {
    background-color: aquamarine;
    position: absolute;
    left: calc(50% - 7.5rem);
    top: calc(50% - 8.25rem);
    width: 15rem;
    height: 16.5rem;
    margin: auto;
    z-index: map-get($z-indexs, modal);
  }

  .img_container {
    grid-area: preview;
    margin: auto;
    height: 300px;
    img {
      height: 100%;
    }
  }

  .button {
    grid-area: button;
  }
}
