@import "mixin";
@import "var";
@import "placeholder";

.main {
  .contents {
    max-height: 10rem;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: antiquewhite;
    .contents_image_container {
      img {
        width: auto;
        height: auto;
      }
    }
    .contents_name {
      font-size: 0.7rem;
    }
    @extend %scroll-bar;
  }
}
