@import "mixin";
@import "var";
@import "placeholder";

.container {
  display: grid;
  grid-template-columns: [col-start] auto [col-end col-start] auto [col-end];
  grid-template-rows: [row-start] auto [row-end row-start] 1fr [row-end];
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  border: 3px solid black;
  height: 25rem;
  overflow: hidden;

  .file_form {
    grid-area: bottom-left;
    background-color: aqua;
    @include flex-center();
    .file_form_cropper_button {
      @extend %button__green;
    }
    .file_input_button {
      @extend %button__white;
    }
    .file_reset_button {
      @extend %button__orange;
    }
  }

  .uploading_container {
    grid-area: top-left;
    margin: auto;
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 200px;
    height: 300px;
    img {
      overflow: hidden;
    }

    .uploading__alt {
      overflow: hidden;
      background-color: cadetblue;
      width: 200px;
      height: 300px;
      @include flex-center();

      &::before {
        position: absolute;
        background-color: cadetblue;
        border: 3px dashed black;
        z-index: 3;
        width: inherit;
        height: inherit;
        scale: 0.9;
        content: "";
      }
      &::after {
        position: absolute;
        font-size: 0.8rem;
        z-index: 5;
        content: "업로드된 이미지가 없습니다.";
      }
      & > div {
        font-size: 0.8rem;
        padding: 0.2rem;
      }
    }
  }

  .uploading_option {
    background-color: white;
    grid-column: col-start 2 / col-end 2;
    grid-row: span 1;
    .name_form {
      position: relative;
      div {
        .name_input {
          height: 1.8rem;
          border-radius: 12px;
          border: 2px solid map-get($colors, light-gray);
          margin-right: 0.5rem;
          padding: 0.2rem;
          &:focus {
            outline: 2px solid darken(map-get($colors, light-gray), 30%);
            outline-offset: -2px;
          }
        }
        .name_button__check {
          @extend %button__white;
        }
        .name_button__reset {
          @extend %button__orange;
        }
        &::before {
          z-index: 3;
          position: absolute;
          bottom: -0.6rem;
          font-size: 0.5rem;
          line-height: 0.5rem;
          color: red;
          content: "* 문자열과 특수문자는 입력 할 수 없습니다.";
        }
      }
    }
  }

  .submit {
    justify-self: center;
    align-self: center;
    .submit_button {
      grid-column: col-start 2 / col-end 2;
      grid-row: span 1;
      @extend %button__blue;
    }
  }
}

.cropper_container {
  background-color: map-get($colors, half-transparent);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: map-get($z-indexs, modal);
  flex-direction: column;
  @include flex-center();
  .cropper {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0.5rem;
  }
  .cropper_button_container {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    .cropper_button_save {
      @extend %button__blue;
    }
    .cropper_button_cancel {
      @extend %button__orange;
    }
  }
}
