@import "mixin";
@import "var";
@import "placeholder";

.container {
  @include page-base();

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5%;

    .head {
      height: 15%;

      .head__top {
        height: 50%;
        margin-bottom: 0.5rem;
        @include flex-center();

        .title {
          width: 100%;
          font-size: 1.25rem;
          @include text-line(1, 1.25rem);
          @include min-width($mixin-large-width) {
            font-size: 1.5rem;
            line-height: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .head__buttom {
        height: 50%;
        display: flex;
        align-items: center;
        gap: 2%;

        .input {
          width: 50%;
        }

        .button__container {
          display: flex;
          gap: 10%;
          .search {
            .search__button {
              @extend %button--green;
              width: 6rem;
            }
          }
          .reset {
            .reset__button {
              @extend %button--orange;
              width: 6rem;
            }
          }
        }
      }
    }

    .grid__container {
      height: 70%;
      overflow-x: hidden;
      width: 100%;
      @extend %scroll-bar;
      border-radius: 10px;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      .grid {
        display: grid;
        grid-template-columns: repeat(5, auto);
        background-color: antiquewhite;
        .contents_image_container {
          background-color: black;
          width: 80%;
          height: 80%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .more {
          grid-column: span 5;
          height: 50%;
          padding: 0.2rem;
          .more__button {
            text-transform: uppercase;
            background-color: rgba(gray, 50%);
            width: 100%;
            height: 4rem;
            font-size: 2rem;
            color: map-get($colors, azure);
            border-radius: 15px;

            &:hover,
            &:active {
              background-color: darken(rgba(gray, 50%), 50%);
              @include transition(background-color, 0.3s, ease);
            }
          }
        }
      }
    }
  }
}
